<div class="field fields"  style="height:160px;width:93%;margin-left:3%;margin-bottom:20px;">
  <div class="sl-custom-file" style="float:right;">
    <div class="upload-preview">
      <%= image_tag "placeholder2.png", style: "min-width: 130px;min-height: 130px;max-width:130px;max-height:130px;display: inline-block; padding:2px;",:class => 'button button-default' %>
    </div>
    <%= r.file_field :img, class: "file ui-input-file" %>
  </div>
  <div style="float:left">
    <!-- <textarea id="record_des" name="record[des]" placeholder="add something..." style="height:126px;width:335px; "></textarea> -->
    <%= r.text_area :des, :style =>"height:126px;width:335px;",:placeholder=>"add something..." %>
  </div>
  <p>
  <%= link_to_remove_fields "remove", r %>
  </p>
</div>