// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sl-custom-file {
position:relative;
display:inline-block;
zoom:1;
cursor:pointer;
overflow:hidden;
margin-bottom: 10px;
vertical-align:middle;
}
.sl-custom-file .ui-input-file {
position:absolute;
right:0;
top:0;
_zoom:30;
font-size:300px\9;
height:100%;
_height:auto;
opacity:0;
filter:alpha(opacity=0);
-ms-filter:"alpha(opacity=0)";
cursor:pointer;
}
.record_content{
	max-height:200px;
	overflow:hidden;
}
.record_img{
	max-height:200px;
	overflow:hidden;	 
	float:left;
	margin-right:20px;
}
.records_ul{
list-style: none;
width:90%;
padding-top:3%;
margin-left: 3%;
margin-right:auto;
	li{
		height:200px;
		margin-bottom:10px; 
		img{
			float:left;
			padding:2px;
			border:1px solid #d3d3d3;
		}
		p{
			float:right;
		}
	}
}