@import "bootstrap";
body {
font:13px 'Trebuchet MS',Verdana, Helvetica,Arial,sans-serif;
color:#444;
background-color:#f1f1f1;
}
p, ol, ul, td {
font-family: verdana, arial, helvetica, sans-serif;
font-size: 13px;
line-height: 18px;
}
.button{
display: inline-block;
border: solid 1px transparent;
padding: 0 10px;
outline: 0;
font-weight: bold;
font-size: 11px;
text-decoration: none;
white-space: nowrap;
word-wrap: normal;
line-height: normal;
vertical-align: middle;
cursor: pointer;
border-radius: 2px;
box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.button-default{
border-color: #d3d3d3;
background: #f8f8f8;
color: #333;
}
pre {
background-color: #eee;
padding: 10px;
font-size: 11px;
}
a {
color: #000;
&:visited {
color: #666;
}
&:hover {
background-color: #e5e5e5;
text-decoration: none;
}
}
div {
&.field, &.actions {
margin-bottom: 10px;
}
}
#notice {
color: green;
}
.field_with_errors {
padding: 2px;
background-color: red;
display: table;
}
#error_explanation {
width: 450px;
border: 2px solid red;
padding: 7px;
padding-bottom: 0;
margin-bottom: 20px;
background-color: #f0f0f0;
h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
margin-bottom: 0px;
background-color: #c00;
color: #fff;
}
ul li {
font-size: 12px;
list-style: square;
}
}
#date_sidebar,#task_list,#record_content{
position: absolute;
background-color: #ffffff;
overflow:hidden;
top:60px;
min-height:500px;
}
#date_sidebar{
left:8px;
width:200px;
}
#task_list{
left:210px;
width:500px;
}
#record_content{
left:712px;
right:8px;
}
#operation{
a{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 7px;
padding-top:7px;
float: right;
margin-top: 8px;
margin-right: 8px;
}
position:absolute;
background:#ffffff;
left:8px;
right:8px;
top:3px;
min-height:55px;
}
.sidebar {
width:100%;
float:left;
background-color:#ffffff;
margin-bottom:30px;
}
.nav-list li{
text-align: end;
width:100%;
}
.nav-list > li > a {
padding: 3px 15px;
color: #222;
}