<!DOCTYPE html>
<html>
<head>
  <title>Oneday</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="operation">
<a href="#" class="button button-default">记一个</a>
</div> 
<div id="date_sidebar"></div>
<div id="task_list"></div>
<div id="record_content"></div>


</body>
</html>
